server {
  listen 80 default;
  client_max_body_size 4G;
  server_name _;

  keepalive_timeout 5;

  # path for static files
  root {{ static_dir }}/;
  index index.html index.htm;

  location /api/ {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;

    proxy_pass   {{ gunicorn_socket }};
  }

  location /components/ {
    try_files /$uri /$uri/;
  }

  location /styles/ {
    try_files /$uri /$uri/;
  }

  location / {
    # checks for static file, if not found proxy to app
    alias {{ site_dir }}/;
    try_files /$uri /$uri/ /index.html =404;
  }

  error_page 500 502 503 504 /500.html;
  location = /500.html {
    root /path/to/app/current/public;
  }
}

