# FILE GENERATED THROUGH ANSIBLE - CHANGES WILL BE LOST ON NEXT RUN

description "Gunicorn upstart script"

start on runlevel [2345]
stop on runlevel [!2345]

kill timeout 30

respawn

chdir {{ python_app_dir }}

exec gunicorn lab_resources:app -k gevent --worker-connections {{ gunicorn_worker_connections }} --workers {{ gunicorn_workers }} --log-file "{{ gunicorn_log }}" -b "{{ gunicorn_socket }}" --timeout 300 --keep-alive 600 --debug


